{
	"all": true,
	"reporter": [
		"lcovonly",
		"html",
		"text",
		"text-summary"
	],
	"exclude": [
		"bench",
		"benchmarks",
		"test",
		"coverage",
		".eslintrc.js"
	],
    "check-coverage": true,
    "lines": 95,
    "statements": 90,
    "functions": 95,
    "branches": 90
}
